<div class="d-flex justify-content-evenly  mt-5">


  <div class="row col-9">

<!--    account section-->
    <div class="col-sm-6 mb-2">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="card-title">Accounts</h5>
        </div>
        <div class="card-body ">
<!--          {{searchAccountForm.value | json}}-->
          <form [formGroup]="searchAccountForm"  (ngSubmit)="handelSearchAccount()"  >
              <div class="form-group  d-flex flex-row justify-content-evenly align-content-between  ">
                <label class="form-label align-self-end me-1"  >
                  Account
                </label>
                <input type="text" placeholder="enter account id" formControlName="accountID" class="form-control me-1" >
                <button type="submit" class="btn btn-success ">search</button>
              </div>

          </form>
<!--          balance id section-->
          <div class="balance-id mt-2 mb-2">
            <label>Account ID :</label>
            <label><Strong>{{accountDetails.accId}} </Strong></label>
            <br>
            <label>Account Balance :</label>
            <label><Strong>{{accountDetails.balance | number : "1.2-2"}} </Strong></label>
          </div>

<!--         account operation section-->
          <div class="account-operations">
            <table class="table">
              <thead>
<!--                <th>ID</th>-->
                <th>DATE</th>
                <th>AMOUNT</th>
                <th>DESCRIPTION</th>
              </thead>
              <tbody>
                  <tr *ngFor="let op of accountOperationDTOList">
<!--                    <td>{{op.accountId}}</td>-->
                    <td>{{op.operationDate | date:"dd-mm-yy"}}</td>
                    <td>{{op.amount | number : "1.2-2"}}</td>
                    <td>{{op.description}}</td>
                  </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let page of [].constructor(accountDetails.totalPgaes );let i=index ">
                <a (click)="setCurrentPage(i)"  [ngClass]="i==currentPage? ' btn btn-info' : 'btn btn-outline-info'" class="ms-1"> {{i}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



<!--    opertaion section-->


    <div class="col-sm-6 mb-2">
      <div class="card ">
        <div class="card-header text-center">
          <h5 class="card-title">Operations</h5>
        </div>
        <div class="card-body d-flex flex-column ">
          <div class="row justify-content-center ms-4">
            <div class="form-check col-sm">
              <input class="form-check-input" type="radio" value="versementForm"  name="formType" (change)="selectedForm = 'versementForm'">
              <label class="form-check-label" >
                Versement
              </label>
            </div>
            <div class="form-check col-sm">
              <input class="form-check-input" type="radio" value="retraitForm" name="formType"  (change)="selectedForm = 'retraitForm' ">
              <label class="form-check-label" >
                Retrait
              </label>
            </div>
            <div  class="form-check col-sm">
              <input class="form-check-input" type="radio" value="virementForm"  name="formType" (change)="selectedForm = 'virementForm'">
              <label class="form-check-label" >
                Virement
              </label>
            </div>
          </div>
<!--      formulaire de versement-->

        {{versementForm.value | json}}
        <form class="d-flex justify-content-evenly" [formGroup]="versementForm" *ngIf="selectedForm === 'versementForm'" (submit)="handelVersment()">
          <div class="form-group  d-flex mt-2">
            <label >
              Montant Versement
            </label>
            <input type="text" class="form-control" formControlName ="amount" placeholder="Entez votre Montant ">
            <input type="text" class="form-control" formControlName ="description" placeholder="Entez votre description ">
            <input type="text" class="form-control" formControlName="accountId"  hidden >

            <button class="btn btn-success" type="submit">Save</button>

          </div>
<!--          <div class="form-group">-->
<!--            <label class="mb-2 mt-4">-->
<!--              Numéro de Compte-->
<!--            </label>-->
<!--            <input type="text" class="form-control" formControlName="numCompte" value="{{accountDetails.accId}}" hidden>-->

<!--          </div>-->

        </form>




<!--                formulaire de retrait-->
      <div [formGroup]="retraitForm" *ngIf="selectedForm === 'retraitForm'">
        <form class="d-flex justify-content-evenly">
          <div class="form-group ">
            <label class="mb-2 mt-4">
              Montant Retrait
            </label>
            <input type="text" class="form-control" name="mntRetrait" placeholder="Entez votre Montant ">
          </div>
          <div class="form-group">
            <label class="mb-2 mt-4">
              Numéro de Compte
            </label>
            <input type="text" class="form-control" name="numCompte" placeholder="Entez votre Compte ">
          </div>
        </form>
      </div>


          <!--      formulaire de virement-->
      <div [formGroup]="virementForm" *ngIf="selectedForm === 'virementForm'">
        <form class="d-flex justify-content-evenly">
          <div class="form-group ">
            <label class="mb-2 mt-4">
              Montant Virement
            </label>
            <input type="text" class="form-control" name="mntVirement" placeholder="Entez votre Montant ">
          </div>
          <div class="form-group">
            <label class="mb-2 mt-4">
              Numéro de Compte débit
            </label>
            <input type="text" class="form-control" name="numCompteDebit" placeholder="Entez votre Compte ">
          </div>
          <div class="form-group">
            <label class="mb-2 mt-4">
              Numéro de Compte crédit
            </label>
            <input type="text" class="form-control" name="numCompteCredit" placeholder="Entez votre Compte ">
          </div>
        </form>
      </div>


        </div>
      </div>
    </div>
  </div>


</div>
