<div class="container mt-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>
        List Des Clients
      </h2>
    </div>
    <div class="card-body">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers ">
          <th scope="row">{{c.id}}</th>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
